Client/Connected Services/LoreServiseRef/LoreServise.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LoreServise" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiseForServer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiseForServer_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IServiseForServer_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiseForServer_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IServiseForServer_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiseForServer_SendStringMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendStringMessage" />
  </wsdl:message>
  <wsdl:message name="IServiseForServer_SendStringMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendStringMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IServiseForServer_CheckHash_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckHash" />
  </wsdl:message>
  <wsdl:message name="IServiseForServer_CheckHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckHashResponse" />
  </wsdl:message>
  <wsdl:message name="IServiseForServer_ReceiveLoreMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveLoreMessage" />
  </wsdl:message>
  <wsdl:message name="IServiseForServer_LogInServer_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LogInServer" />
  </wsdl:message>
  <wsdl:portType name="IServiseForServer">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiseForServer/Connect" message="tns:IServiseForServer_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiseForServer/ConnectResponse" message="tns:IServiseForServer_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiseForServer/Disconnect" message="tns:IServiseForServer_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiseForServer/DisconnectResponse" message="tns:IServiseForServer_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendStringMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiseForServer/SendStringMessage" message="tns:IServiseForServer_SendStringMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiseForServer/SendStringMessageResponse" message="tns:IServiseForServer_SendStringMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckHash">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiseForServer/CheckHash" message="tns:IServiseForServer_CheckHash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiseForServer/CheckHashResponse" message="tns:IServiseForServer_CheckHash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveLoreMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiseForServer/ReceiveLoreMessage" message="tns:IServiseForServer_ReceiveLoreMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInServer">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiseForServer/LogInServer" message="tns:IServiseForServer_LogInServer_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiseForServer" type="tns:IServiseForServer">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiseForServer_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IServiseForServer/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IServiseForServer/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendStringMessage">
      <soap12:operation soapAction="http://tempuri.org/IServiseForServer/SendStringMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckHash">
      <soap12:operation soapAction="http://tempuri.org/IServiseForServer/CheckHash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveLoreMessage">
      <soap12:operation soapAction="http://tempuri.org/IServiseForServer/ReceiveLoreMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInServer">
      <soap12:operation soapAction="http://tempuri.org/IServiseForServer/LogInServer" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoreServise">
    <wsdl:port name="NetTcpBinding_IServiseForServer" binding="tns:NetTcpBinding_IServiseForServer">
      <soap12:address location="net.tcp://localhost:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>PC-123456\Yaroslav</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>